@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");

:root {
    --back-color-one: #ff95d4;
    --back-color-two: #ffe7ff;
    --back-button-color: #ffe7ff;
    --mouse-hover-color: #eaeaea;
    --mouse-hover-bgcolor: #ff5c5c;
}

* {
    margin: 0;
    padding: 0;
    box-sizeing: border-box;

    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

body {
    color: #2d2d2d;
    background-color: var(--back-color-two);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: var(--back-color-one);
    z-index: 1;
}

nav h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav .form {
    display: flex;
    justify-content: center;
}

.form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

.form input[type="text"],
button[type="submit"] {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

.form button[type="submit"] {
    cursor: pointer;
    background-color: var(--back-button-color);
    border: 1px solid #ff5c5c;
    transition: background-color 0.2s ease-in-out;
}

.form button[type="submit"]:hover,
.recipe button:hover,
.close_btn:hover svg {
    color: var(--mouse-hover-color);
    background-color: var(--mouse-hover-bgcolor);
}

/* recipe container */
.recipe_container {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    text-align: center;

    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
}

.recipe_container h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.recipe {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1),
        -5px -5px 10px rgba(34, 34, 34, 0.5);
    max-width: 300px; /* 마지막 줄 아이템이 적을 때, 커지는 것 방지 */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.recipe:hover {
    transform: scale(1.01);
}

.recipe img {
    height: 300px;
}

.recipe h3 {
    font-size: 24px;
    margin-top: 10px;
}

.recipe p {
    font-size: 20px;
    margin: 5px 0;
}

.recipe span {
    font-weight: 700;
}

.recipe button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    border: none;
    background-color: var(--back-color-one);
}

/* Recipe Popup */
.recipe_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 60%;
    overflow-y: scroll;
    border-radius: 12px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #fde1e1;
    transition: all 0.5s ease-in-out;
}

.recipe_popup button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: var(--back-color-button);
    cursor: pointer;
}

/* 요리법 */
.recipe_popup .recipe_gastronomy {
    padding: 30px;
}

.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.recipeIngredientList li {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.recipeInstructions p {
    line-height: 30px;
    white-space: pre-line;
}

.recipeName,
.recipeIngredientList,
.recipeInstructions {
    margin-bottom: 30px;
}

.close_btn {
    position: absolute;
    top: 30px;
    right: 30px;
}

.close_btn svg {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50px;
    background-color: rgb(251, 167, 181);
}

/* Adding scrollbar to recipe detals popup */
.recipe_popup::-webkit-scrollbar {
    width: 10px;
}

.recipe_popup::-webkit-scrollbar-thumb {
    background-color: rgb(251, 167, 181);
    border-radius: 16px;
    --webkit-border-radius: 16px;
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 16px;
    --webkit-border-radius: 16px;
    background-color: #ff5c5c;
}

body::-webkit-scrollbar-track {
    background-color: #ffe7ff;
}

/* Responsive Code */
@media screen and (max-width: 600px) {
    header nav {
        flex-direction: column;
    }
    header nav .form {
        width: 80%;
        margin-top: 20px;
    }
}

@media screen and (min-width: 800px) {
    nav {
        padding: 20px 100px;
    }
}
