@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");

:root {
    --back-color-one: #ff95d4;
    --back-color-two: #ffe7ff;
    --back-button-color: #ffe7ff;
    --mouse-hover-color: #eaeaea;
    --mouse-hover-bgcolor: #ff5c5c;
}

* {
    margin: 0;
    padding: 0;
    box-sizeing: border-box;

    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

body {
    color: #2d2d2d;
    background-color: var(--back-color-two);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: var(--back-color-one);
    z-index: 1;
}

nav h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav .form {
    display: flex;
    justify-content: center;
}

.form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

.form input[type="text"],
button[type="submit"] {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

.form button[type="submit"] {
    cursor: pointer;
    background-color: var(--back-button-color);
    border: 1px solid #ff5c5c;
    transition: background-color 0.2s ease-in-out;
}

.form button[type="submit"]:hover,
.recipe button:hover,
.recipe_close_btn:hover svg {
    color: var(--mouse-hover-color);
    background-color: var(--mouse-hover-bgcolor);
}

/* recipe container */
.recipe_container {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    text-align: center;

    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
}

.recipe_container h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.recipe {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1),
        -5px -5px 10px rgba(34, 34, 34, 0.5);
    max-width: 300px; /* 마지막 줄 아이템이 적을 때, 커지는 것 방지 */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.recipe:hover {
    transform: scale(1.01);
}

.recipe img {
    height: 300px;
}

.recipe h3 {
    font-size: 24px;
    margin-top: 10px;
}

.recipe p {
    font-size: 20px;
    margin: 5px 0;
}

.recipe span {
    font-weight: 700;
}

.recipe button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    border: none;
    background-color: var(--back-color-one);
}

.recipe_details button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: var(--back-color-one);
    cursor: pointer;
}
