@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

:root {
    --bg-color-to: rgb(253, 124, 221);
    --bg-color-from: rgb(244, 178, 228);
    --bg-container-color: #fff;
    --bg-toggle-to: #a82d2d;
    --bg-toggle-from: #c05c5c;
    --button-color: #fff;
    --button-bg-color: #a82d2d;

    --input-bg-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-weight: 400; /* 300, 400, 700 */
    font-family: "Dongle", sans-serif;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        to right,
        var(--bg-color-from),
        var(--bg-color-to)
    );
}

.container {
    width: 768px;
    max-width: 100%;
    min-height: 480px;

    position: relative;
    overflow: hidden;

    border-radius: 150px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    background-color: var(--bg-container-color);
}

.social_icons {
    margin: 20px 0;
}

.social_icons a {
    border: 1px solid #ccc;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.container p {
    /*
        이미 사용자 계정을 가지고 계시다면
    */
    font-size: 13px4px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    color: var(--button-color);
    background-color: var(--button-bg-color);

    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    /* 투명 배경, 흰색 글자, 흰색 버튼 테두리 */
    background-color: transparent;
    border-color: var(--button-color);
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 0 40px;
    /* background-color: #fff; */
}

.container input {
    width: 100%;
    font-size: 13px;
    border: none;
    outline: none;
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: var(--input-bg-color);
}

.sign_in,
.sign_up {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

/* sign in */

.sign_in {
    left: 0;
    width: 50%;
    z-index: 2;
}

/*
    container에 active적용 되면, --> login
    sign_in은 오른쪽으로 이동,
    sign_up은 투명도가 1이 되어 나타남.
    toogle_container는 왼쪽으로 이동
*/

.container.active .sign_in {
    transform: translateX(100%);
}

/* sign up */
.sign_up {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.container.active .sign_up {
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}
@keyframes move {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

/* toggle */
.toggle_container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 150px;
    z-index: 1000;
    transition: all 0.6s ease-in-out;
}

.container.active .toogle_container {
    transform: translateX(-100%);
    border-radius: 150px;
}

.toggle {
    color: #fff;
    background-color: black;
    position: relative;
    width: 200%;
    height: 100%;
    left: -100%;

    background: linear-gradient(
        to right,
        var(--bg-toggle-from),
        var(--bg-toggle-to)
    );

    transform: translateX(0);
    transition: all 0.6s ease-in-out;

    /* background-image: url("woman_dog.svg");
    background-position: bottom; */
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle_panel {
    position: absolute;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    aligh-items: center;
    flex-direction: column;

    padding: 0 30px;
    text-align: center;

    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toogle_left {
    transform: translateX(-200%);
}

.container.active .toogle_left {
    transform: translateX(0);
}

.toogle_right {
    right: 0;
    transform: translateX(0);
}

.container.active .toogle_right {
    transform: translateX(200%);
}
