*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* font-size: 1.4rem; */
    font-family: "GmarketSansMedium", sans-serif; /* 300, 500, 700 */
}

:root {
    --sidebar-w-short: 78px;
    --sidebar-w-long: 240px;

    --sidebar-bg-color: #9999f6;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

svg {
    width: 30px;
    height: 30px;
    cursor: pointer;

    /* display: flex;
    justify-content: center;
    place-items: center; */
    /* margin: 0 10px; */
}

.icon {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: var(--sidebar-w-short);
    height: 100%;
    background-color: pink;

    position: fixed;
    top: 0;
    left: 0;
}

.sidebar.active {
    width: var(--sidebar-w-long);
    background-color: pink;
}

.view_content {
    position: absolute;
    top: 0;
    left: var(--sidebar-w-short);

    width: calc(100% - var(--sidebar-w-short));
    background-color: yellow;
}

.view_content.active {
    position: absolute;
    top: 0;
    left: var(--sidebar-w-long);

    width: calc(100% - var(--sidebar-w-long));
    background-color: yellow;
}

.sidebar ul {
    margin-top: 20px;
}

/* icon */
.sidebar .icon_box {
    display: flex;
    justify-content: center;
}
.icon_box .icon {
    text-align: center;
    padding: 10px 20px;
}

.icon_box .icon h3 {
    width: 70px;
    font-size: 13px;
    font-weight: 300;
}

.sidebar .icon_box:hover .icon {
    background-color: #eaeaea;
    border-radius: 10px;
}

/* tooltip */
.sidebar ul .name,
.sidebar ul .tooltip {
    display: none;
}
.sidebar.active ul li .tooltip {
    display: none;
}
